<a href="https://colab.research.google.com/github/sanika-mhadgut/NLP/blob/master/Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Name : Sanika Mhadgut
#Branch : Btech Data Science Sem 6
#Roll No: J031

When the predictors take up a continuous value and are not discrete, we assume that these values are sampled from a gaussian distribution.

Naive Bayes algorithms are mostly used in sentiment analysis, spam filtering, recommendation systems etc. They are fast and easy to implement but their biggest disadvantage is that the requirement of predictors to be independent. In most of the real life cases, the predictors are dependent, this hinders the performance of the classifier.

In [0]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split as tts

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import pandas as pd
df=pd.read_csv("User/SanikaMhadgut/CI_Credit_Card.csv")
df

          ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0          1    20000.0    2  ...       0.0       0.0                           1
1          2   120000.0    2  ...       0.0    2000.0                           1
2          3    90000.0    2  ...    1000.0    5000.0                           0
3          4    50000.0    2  ...    1069.0    1000.0                           0
4          5    50000.0    1  ...     689.0     679.0                           0
...      ...        ...  ...  ...       ...       ...                         ...
29995  29996   220000.0    1  ...    5000.0    1000.0                           0
29996  29997   150000.0    1  ...       0.0       0.0                           0
29997  29998    30000.0    1  ...    2000.0    3100.0                           1
29998  29999    80000.0    1  ...   52964.0    1804.0                           1
29999  30000    50000.0    1  ...    1000.0    1000.0                           1

[30000 rows x 25 columns]

In [0]:
y=df["default.payment.next.month"]
x=df.drop(["default.payment.next.month"],1)
print(x)

          ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
0          1    20000.0    2          2  ...       0.0       0.0       0.0       0.0
1          2   120000.0    2          2  ...    1000.0    1000.0       0.0    2000.0
2          3    90000.0    2          2  ...    1000.0    1000.0    1000.0    5000.0
3          4    50000.0    2          2  ...    1200.0    1100.0    1069.0    1000.0
4          5    50000.0    1          2  ...   10000.0    9000.0     689.0     679.0
...      ...        ...  ...        ...  ...       ...       ...       ...       ...
29995  29996   220000.0    1          3  ...    5003.0    3047.0    5000.0    1000.0
29996  29997   150000.0    1          3  ...    8998.0     129.0       0.0       0.0
29997  29998    30000.0    1          2  ...   22000.0    4200.0    2000.0    3100.0
29998  29999    80000.0    1          3  ...    1178.0    1926.0   52964.0    1804.0
29999  30000    50000.0    1          2  ...    1430.0    1000.0    1000.0    1000.0

[30000 rows x 24 columns]

In [0]:
from sklearn.naive_bayes import GaussianNB
gauss= GaussianNB()
model=gauss.fit(x_train,y_train)
y_pred=model.predict(x_test)

Naive Bayes classifiers are a collection of classification algorithms based on Bayes’ Theorem. It is not a single algorithm but a family of algorithms where all of them share a common principle, i.e. every pair of features being classified is independent of each other.

In [0]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.70      0.78      5873
           1       0.38      0.66      0.48      1627

    accuracy                           0.69      7500
   macro avg       0.63      0.68      0.63      7500
weighted avg       0.77      0.69      0.72      7500